body {
	font-family: Arial;
	background-color: #DC0A2D;
	color: #232323;
	padding: 0;
	margin: 0;
	min-height: 100vh;
}
a:link{
	color: #FFFFFF;
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover {
	color: #DEDEDE;
	text-decoration: none;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.navigation{
	background-color: #28AAFD;
	width: 150px;
}
.navigation__link{
	border: black 2px solid;
}
.header{
}
.searchBox{
}
.search {
	display: flex;
	flex: 1;
	align-items: flex-end;
	border-bottom: solid white 3px;
	width: 150px;
}
.search__input{
	background: transparent;
	border: none;
}
::-webkit-input-placeholder {
	color: #232323;
	}