body {
	font-family: Helvetica;
	background-color: #CE3358;
	font-size: 14px;
	color: #232323;
	padding: 0;
	margin: 0;
	min-height: 100vh;
}
a:link{
	color: #FFFFFF;
	text-decoration: none;
}
a:visited{
	color: #FFFFFF;
	text-decoration: none;
}
a:hover{
	color: #F7BF2E;
	text-decoration: none;
}
.main{
	display: flex;
	align-items: stretch;
}
.navigation{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	margin-top: 20px;
	background-color: #41E0F9;
	width: 15%;
	height: 80px;
	border-radius: 0px 20px 20px 0px;
}
.navigation__border{
	border-bottom: black 3px solid;
	width: 100%;
}
.center{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 73%;
	margin-top: 20px;
}
.searchBox{
	width: 12%;
	height: 100vh;
	display: flex;
	flex-direction: column-reverse;
}
.search{
	border-bottom: solid white 3px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column-reverse;
}
.search__input{
	background: transparent;
	border: none;
}
::-webkit-input-placeholder {
	color: #232323;
	font-size: 12px;
	}
.header{
	display: flex;
	font-size: 20px;
	padding-bottom: 10px;
}
.random{
	display: flex;
	flex-direction: column;
}
.random__text{
}
.form{
	display: flex;
	flex-direction: column;
}
.infoBox{
	background-color: #DEDEDE;
	padding: 20px;
	border-radius: 20px;
}
.infoBox__text{
	padding: 5px;
}