<div class="header">
	Add New Pok&eacute;mon
</div>

<div class="statsContainer">
	<form action="/view">

		<div class="stats">
			<div class="stats__info">
				<input type="text" name="name" class="form" placeholder="Name (ex. Pikachu)">
			</div>
		</div>

		<div class="stats">
			<div class="stats__info">
				<input type="text" name="gender" class="form" placeholder="Gender">
			</div>
		</div>

		<div class="stats">
			<div class="stats__info">
				<input type="text" name="cp" class="form" placeholder="Combat Points (CP)">
			</div>
		</div>

		<div class="stats">
			<div class="stats__info">
				<input type="text" name="hp" class="form" placeholder="Hit Points (HP)">
			</div>
		</div>

		<div class="stats">
			<div class="stats__info">
				Favorite? <input type="checkbox" name="favorite">
			</div>
		</div>
			<input type="submit" value="Submit">
		</div>

	</form>
</div>