<% @title="Add New Pokemon" %>

<div class="header">
	Add New Pokemon
</div>

<form action="/view">
	Name: <input type="text" name="name"><br>
	Height: <input type="text" name="height"><br>
	Weight: <input type="text" name="weight"><br>
	Gender: <input type="text" name="gender"><br>
	Type: <input type="text" name="type"><br>
	CP: <input type="text" name="cp"><br>
	HP: <input type="text" name="hp"><br>
	Favorite? <input type="checkbox" name="favorite"><br>
	<input type="submit" value="Submit">
</form>