<% @title="Personal Pokedex" %>

<div class="header">
	Header
</div>

<!-- Random Pokemon image from database of user's favorites -->

<div class="searchBar">
	<form>
		<input type="text" placeholder="Search Pokemon..." required><input type="button" value="Go!">
	</form>
</div>