<!-- This page will display all Pokemon in a users collection as images in rows with the name underneath. Each image will be linked to the specific view page for that Pokemon, which contains specific details. -->
<% @title="View All of Your Pokemon" %>

<div class="header">
	Your Pokemon
</div>

<% if @all_pokemon.empty? == true %>

	<div>
		<h2>Visit the Add Pokemon page to start building your Pokedex</h2>
	</div>

<% else %>
	<% @all_pokemon.each do |pokemon| %>
	<div>
		<p><%= pokemon %></p>
	</div>

	<% end %>
<% end %>


<a href="/view">View Individual Pokemon</a>