<!-- This page will display all Pokemon in a users collection as images in rows with the name underneath. Each image will be linked to the specific view page for that Pokemon, which contains specific details. -->
<% @title="View All of Your Pokemon" %>

<div class="header">
	Your Pokemon
</div>

<% if @search_results != false %>
	<% @search_results.each do |result| %>
		<div>
			<p><%= result %>
		</div>
	<% end %>
	
<% if @search_results.empty? == true %>
	<div>
		<p><%= @search_error %>
	</div>
	<% end %>

<% if @all_pokemon.empty? == true %>

	<div>
		<h2><%= @no_pokemon_error %></h2>
	</div>

<% else %>
	<% @all_pokemon.each do |pokemon| %>
	<div>
		<p><%= pokemon %></p>
	</div>

	<% end %>
<% end %>




<a href="/view">View Individual Pokemon</a>