<!-- This page will display all Pokemon in a users collection as images in rows with the name underneath. Each image will be linked to the specific view page for that Pokemon, which contains specific details. -->
<% @title="View All of Your Pokemon" %>

<div class="header">
	Your Pokemon
</div>

<a href="/view">View Individual Pokemon</a>